<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />

    </head>
    <body>
        {% block content %}
            content default
        {% endblock %}

        {% block scriptImport %}
            <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
        {% endblock %}
    </body>
</html>
